<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--redis的连接池-->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="${redis.max.active}"/>
        <property name="maxIdle" value="${redis.max.idle}"/>
        <property name="maxWaitMillis" value="${redis.max.wait}"/>
        <property name="testOnBorrow" value="${redis.on.borrow}"/>
    </bean>

    <bean id="jedisPool" class="redis.clients.jedis.JedisPool" destroy-method="destroy">
        <constructor-arg name="poolConfig" ref="jedisPoolConfig"/>
        <constructor-arg name="host" value="${redis.host}"/>
        <constructor-arg name="port" value="${redis.port}"/>
    </bean>

    <!--注入RedisUtil工具类-->
    <bean class="com.kaishengit.util.redis.RedisUtil">
        <property name="pool" ref="jedisPool"></property>
    </bean>
</beans>
